.carousel-container {
  overflow: hidden; /* Hide overflowing content */
  width: 100%; /* Ensure the container takes up full width */
  padding: 5%;
}

.carousel {
  display: flex;
  white-space: nowrap;
  animation: scroll 15s linear infinite; /* Infinite scrolling */
}

.carousel-item-image {
  width: auto; /* Set the width for each image */
  height: 300px; /* Set the height for each image */
  object-fit: cover; /* Ensure images cover the box without stretching */
  margin-right: 20px; /* Add some space between images */
  border-radius: 0.80rem;
  /* box-shadow: ; */
}

.carousel::after {
  content: '';
  display: block;
  flex: 0 0 auto;
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0); /* Start at the beginning */
  }
  100% {
    transform: translateX(-50%); /* Scroll halfway through the items */
  }
}