.App {
  text-align: right;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.about-us-section {
  @apply py-10 text-center;
}


.section-title {
  @apply text-4xl font-bold text-blue-700;
}


.section-subtitle {
  @apply mt-2 text-gray-500;
}


.team-grid {
  @apply mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-6xl mx-auto; /* Maintains the original layout */
}


.second-row {
  @apply col-span-full grid grid-cols-1 md:grid-cols-3 gap-4 justify-center; /* Adjusted to 3 columns */
}




.team-member {
  @apply text-center;
  margin-bottom: 1rem;
}


.team-member-image {
  @apply w-32 h-32 mx-auto rounded-full overflow-hidden;
}


.image-style {
  @apply object-cover w-full h-full;
}


.member-name {
  @apply mt-4 text-xl font-semibold;
}


.member-role {
  @apply text-blue-600 font-light;
}


.social-icons {
  @apply mt-4 flex justify-center space-x-4;
}


.social-link {
  @apply text-gray-400 hover:text-gray-600;
}
